.list-item {
	&-title {
		font-weight: normal;
		line-height: 1.3;
		font-size: 1em;
		margin-top: .5em;
	}

	&-img {
		border-radius: 5px;
		box-shadow: var(--shadow);
		width: 100%;
		aspect-ratio: 3/4;
		object-fit: cover;
		object-position: center center;
	}
}