.list-item {
	padding-top: 1rem; 

	&-title {
		font-weight: normal;
		line-height: 1.3;
		font-size: 1em;
		margin-top: .5em;
		min-height: 5em;
		color: hsl(0, 0%, 20%);
	}

	&-img {
		border-radius: 5px;
		box-shadow: var(--shadow);
		width: 100%;
		aspect-ratio: 3/4;
		object-fit: cover;
		object-position: center center;
		transition: transform .2s ease;
	}

	&:is(a) {
		text-decoration: none;

		&:hover {
			.list-item-title {
				color: black;
			}

			.list-item-img {
				transform: scale(1.02);
			}
		}
	}
}